
#adminmenu #menu-posts-newsletter .menu-icon-post div.wp-menu-image:before{
    content:"";
}
.eelv_news_groups .dashicons:before{
    line-height: 25px;
}
.eelv_news_groups .trash:before{
    content:'';
}
.eelv_news_groups .edit:before{
    content:'';
}
.eelv_news_groups .list:before{
    content:'';
}

#newsletter_item_post_preview{
    padding:1em;
    display:table;
}



/***********/

#eelv_nl_sentlist li.eelv_nl_sent{
    display:inline-block;
    width:26%;
    padding:7px 1px 7px 40px;
    margin:2px;
    background-position: 6px 6px;
    background-repeat:no-repeat;
    background-color:#FFF;
    border:#CCC 1px outset;
    border-radius:5px;
    box-shadow:rgba(0,0,0,0.2) 0px 2px 3px; 
  }
  #eelv_nl_sentlist li.eelv_nl_status_-1{
    background-image:url(img/-1.jpg);
    color:#900;
  }
  #eelv_nl_sentlist li.eelv_nl_status_0{
    background-image:url(img/0.jpg);
    color:#900;
  }
  #eelv_nl_sentlist li.eelv_nl_status_1{
    background-image:url(img/1.jpg);
    color:#030;
  }
  #eelv_nl_sentlist li.eelv_nl_status_2{
    background-color:#EEE;
    background-image:url(img/2.jpg);
    color:#000;
  }
  #eelv_nl_sentlist li.eelv_nl_status_3{
    background-image:url(img/3.jpg);
    border:#0F0 1px outset;
    color:#0C0;
  }
